body {
  padding-top: 50px;
}


.logo{
  height: 30px;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../lib/font-awesome/fontawesome-webfont.eot?v=3.0.1');
  src: url('../lib/font-awesome/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
  url('../lib/font-awesome/fontawesome-webfont.woff?v=3.0.1') format('woff'),
  url('../lib/font-awesome/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.latest-post-banner {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
	padding-right: -15px;
}

.padding-fix {
	padding-left: 15px;
}

img{
  max-width: 700px;
}

.site{
  float: inherit;
  margin-top: -20px;
}

.banner-img{
  background:url(../assets/background.png) center center; 
  background-size:cover;
  height: 200px;
}

.card {
  background-color: white;
  padding: 20px;
}