<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }} - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="/css/main.css"> -->

    <script src="lib/jquery/jquery.1.9.1.js"></script>
    <script src="lib/bootstrap/bootstrap.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap-responsive.css">
    <link rel="stylesheet" href="/lib/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{{ site.name }}
            <!-- <img src="/assets/logo.png" class="logo"/> -->
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/">Home</a></li>
                    <li><a href="/archive.html">Archive</a></li>
                    <li><a href="/about.html">About Me</i></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://github.com/jsm85/" target="_blank"><i class="icon-github"></i></a></li>
                    <li><a href="http://twitter.com/jsmendonca85/" target="_blank"><i class="icon-twitter"></i></a></li>
                    <li><a href="http://www.linkedin.com/in/jsm85" target="_blank"><i class="icon-linkedin-sign"></i></a></li>
                    <li><a href="/rss.xml" target="_blank"><i class="icon-rss"></i></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>



    <div class="container">

        <div class="site">

            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-9">
                    {{ content }}
                </div>
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas-left" id="sidebar" role="navigation">
                    <div class="well sidebar-nav">
                        <h3>Recent posts</h3>
                        <ul class="nav" id="posttree">
    {% for post in site.posts limit:5 offset:0 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
                        </ul>
                    </div>
                    <div class="well sidebar-nav">
                        <h3>Links</h3>
                        <ul class="nav">
                            <li><a href="#">Albert's Blog</a></li>
                            <li><a href="#">Gav's Blog</a></li>
                            <li><a href="#">Glewster's Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            

            <div class="footer">
                <div class="contact">
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->

    <!-- Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39754237-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
